body {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.profilepic {
  display: block;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #DDD;
  float: right;
  width: 180px;
  top: 1rem;
  bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  transition: 0.5s all ease-in-out;

  @media (max-width: $layout-responsive-nav-cutoff - 1) {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
blockquote {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-size: inherit;
  border-left: 5px solid gray;
  padding-left: 0px;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
    color: #C96;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.25em;
    line-height: 1.25em;
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.25em;
    font:'Helvetica', 'Arial', 'Sans-Serif';
}

ul.posts li {
    list-style: none;
    font:'Helvetica', 'Arial', 'Sans-Serif';
}
